# sbt
# (may want to keep parts of 'project')
bin/
project/
target/
build/

# eclipse
build
.classpath
.project
.settings
.worksheet

# intellij idea
*.log
*.iml
*.ipr
*.iws
.idea

# mac
.DS_Store

# other?
.history
.scala_dependencies
.cache
.cache-main

#general
*.class

spark-warehouse/
outputs/
samples/pages.xml
samples/pages_less.xml
samples/Wikipedia-20180220091437.xml
samples/spaceX.xml
samples/Wikipedia-20180620152418.xml